<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Developers name</title>
    <style>
      h2 {
        color: rgb(0, 0, 0);
        text-align: center;
      }
      h1 {
        color: rgb(183, 128, 128);
        text-align: center;
      }
      .hello {
        margin-bottom: 1.5rem !important;
        border-radius: 10px;
        background-color: #000000;
        border: 1px solid rgb(235, 0, 0);
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <h1>CALL OUR Developers</h1>
    <div class="hello">
      <h2><mark>Anoop Saxena 6395738040</mark></h2>
      <h2><mark>Deepak Kumar Ram 6204815090</mark></h2>
    </div>
  </body>
</html>
